<div class="container top-buffer">
  <h1><%= current_user.username %>'s List</h1>
  <table style="width: 80%">
    <col style="width: 50%">
    <col style="width: 15%">
    <col style="width: 15%">
    <tr>
      <th>Item</th>
      <th>Days Left</th>
      <th>Completed</th>
    </tr>
    <tr>
      <td>Test</td>
      <td>5</td>
      <td>x</td>
    </tr>
  </table>
</div>
