<div class="container top-buffer">
  <h1><%= current_user.username %>'s List</h1>
  <table>
    <col id="column-item">
    <col id="column-days">
    <col id="column-completed">
    <tr>
      <th>Item</th>
      <th class="text-center">Time Left</th>
      <th class="text-center">Delete</th>
    </tr>
    <%= render @items %>
  </table>
  <div class="top-buffer">
    <%= render partial: '/items/form' %>
  </div>
</div>
