<tr>
  <td><%= item.name %></td>
  <td class="text-center"><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %></td>
  <td class="text-center"><%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-remove' %></td>
</tr>
